Find maximum in a list 
1. Given marks of students in a classs. Find topper of the class.
2. Consider that list is not empty.

In [ ]:
marks = [ 90, 30, 100, 50, 80, 95]

In [ ]:
# first go through all the elements 
# lets assume first element [0] is highest, later check with other elements
# update highest

In [2]:
marks = [ 90, 30, 100, 50, 80, 95]
highest = marks[0]
for i in marks:
    if i > highest:
        highest = i 
print(highest)

100

In [ ]:
# another way (simple) way to solve this :
# max function

In [3]:
marks = [ 90, 30, 100, 50, 80, 95]
max(marks)

100

Find minimum in a list 
1. Given marks of students in a classs.
2. Consider that list is not empty.

In [5]:
marks = [90, 30, 100, 50, 80, 95]
smallest = marks[0]
for i in marks:
    if i < smallest:
        smallest = i
print(smallest)

30

In [6]:
marks = [90, 30, 100, 50, 80, 95]
min(marks)

30