In [ ]:
# Input using input function

In [1]:
name = input()

 Rahul

In [2]:
print(name)

Rahul

In [4]:
print(type(name))

<class 'str'>

In [ ]:
# Number as input

In [5]:
x = input()

 5

In [6]:
print(type(x))

<class 'str'>

In [ ]:
# why it is giving string type : because by default type of input function is string. 
# But we can convert it by using convert functions

In [8]:
x = 5 
y = int(x)
print(y)
print(type(x))

5
<class 'int'>

In [ ]:
# we cant convert an alphabetic string into integer
# we can convert a float number (input) into float first then convert into integer

In [9]:
x = input()

 Rahul

In [10]:
print(type(x))

<class 'str'>

In [11]:
y = int(x)

ValueError: invalid literal for int() with base 10: 'Rahul'

In [4]:
x = input()

 1.5

In [5]:
print(type(x))

<class 'str'>

In [7]:
y = float(x)
print(type(y))

<class 'float'>

In [8]:
z = int(y)
print(type(z))

<class 'int'>

In [9]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method