In [ ]:
Q1: Write a Python program to add two integers and print the result.

In [1]:
a= 1
b= 2
print(a+b)

3

In [ ]:
Q2: Create a variable and assign a string to it. Print the data type of the variable.

In [2]:
a= 'Poonam'
type(a)

str

In [ ]:
Q3: Write a Python program to concatenate two strings.

In [4]:
a= 'Poonam'
b= ' loves ice cream'
print(a+b)

Poonam loves ice cream

In [ ]:
Q4: Create a list with five elements and print its data type.

In [5]:
a= [1,2,'vanila','chocolate',5]
type(a)

list

In [ ]:
Q5: Write a Python program to find the length of a given list.

In [9]:
a= [1,2,'vanila','chocolate',5]
length = len(a)
print(length)

5

In [ ]:
Q6: Create a tuple with three elements and print its data type.

In [11]:
Scoop = ('Vanila', 'Butterscotch', 'Chocolate')
type(Scoop)

tuple

In [ ]:
Q7:  Write a Python program to check if a given element is present in a list.

In [33]:
a= [1,2,'vanila','chocolate',5]
Number_to_search = 2
number = 0
sizeoflist = len(a)
while number < sizeoflist:    
    if a[number]== Number_to_search:
        print("Number found at position: ",number+1)
        break;
    else :
        number = number+1
        continue

Number found at position:  2

In [ ]:
Q8: Create a dictionary with three key-value pairs and print its data type.

In [1]:
dict_cream = {'name' : 'Poonam', 'Weekly intake' : 3, 'favourite ice creams': 'chocolate'}
type(dict_cream)

dict

In [ ]:
Q9: Write a Python program to access a specific element in a tuple.

In [12]:
tuple_Scoop = ('Vanila', 'Butterscotch', 'Chocolate')
print(tuple_Scoop[0])

Vanila

In [ ]:
Q10: Create a set with some elements and print its data type.

In [14]:
Set_scoop = {'Vanila', 'Butterscotch', 'Chocolate'}
type(Set_scoop)

set

In [ ]:
Q11: Write a Python program to check if a given key exists in a dictionary.

In [17]:
dict_cream = {'name' : 'Poonam', 'Weekly intake' : 3, 'favourite ice creams': 'chocolate'}
key_to_check = 'name'

if key_to_check in dict_cream:
    print('key is present')

key is present

In [ ]:
Q12: Convert an integer to a string and print its data type.

In [29]:
num = 10
conv_to_str = str(num)
type(conv_to_str)

str

In [ ]:
Q13: Convert a float to an integer and print its data type.

In [28]:
num = 10.3
conv_to_int = int(num)
type(conv_to_int)

int

In [ ]:
Q14: Convert a string to a list and print its data type.

In [27]:
string = "Hello World"
conv_to_list = list(string)
type(conv_to_list)

list

In [23]:
print(conv_to_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
Q15: Convert a list to a tuple and print its data type.

In [26]:
sample_list = ['Hello', 'World', 2]
conv_to_tuple = tuple(sample_list)
type(conv_to_tuple)

tuple

In [31]:
print(conv_to_tuple)

('Hello', 'World', 2)

In [ ]:
Q16: Convert a tuple to a set and print its data type.

In [30]:
sample_tuple = ('Hello', 'World', 2)
conv_to_set = set(sample_tuple)
type(conv_to_set)

set

In [32]:
print(conv_to_set)

{2, 'World', 'Hello'}

In [ ]:
Q17: Convert a set to a list and print its data type.

In [33]:
sample_set = {'Hello', 'World', 2}
conv_to_list = list(sample_set)
type(conv_to_list)

list

In [34]:
print(conv_to_list)

[2, 'World', 'Hello']

In [ ]:
Q18: Convert a dictionary's keys to a list and print its data type.

In [36]:
sample_dict = {'name' : 'Poonam', 'Weekly intake' : 3, 'favourite ice creams': 'chocolate'}
conv_keys_to_list = list(sample_dict.keys())
type(conv_keys_to_list)

list

In [37]:
print(conv_keys_to_list)

['name', 'Weekly intake', 'favourite ice creams']

In [ ]:
Q19: Write a Python program to create a new list by repeating the elements of an existing list five times.

In [40]:
sample_list = ['Hello', 'World', 2]
sample_list_5times = sample_list*5
print(sample_list_5times)

['Hello', 'World', 2, 'Hello', 'World', 2, 'Hello', 'World', 2, 'Hello', 'World', 2, 'Hello', 'World', 2]

In [ ]:
Q20: Write a Python program to merge two dictionaries into a new dictionary.

In [51]:
dict_1 = {'name': 'poonam', 'weekly intake':3, 'favourite ice cream': 'chocolate'}
dict_2 = {'name1': 'Jalaj', 'weekly intake1':2, 'favourite ice cream1': 'Butter Scotch'}
merged_dict = {**dict_1, **dict_2}
print(merged_dict)

{'name': 'poonam', 'weekly intake': 3, 'favourite ice cream': 'chocolate', 'name1': 'Jalaj', 'weekly intake1': 2, 'favourite ice cream1': 'Butter Scotch'}

In [ ]:
Q21: Write a Python program to remove a specific element from a list.

In [52]:
sample_dict = {'name': 'poonam', 'weekly intake':3, 'favourite ice cream': 'chocolate'}
del sample_dict['weekly intake']
print(sample_dict)

{'name': 'poonam', 'favourite ice cream': 'chocolate'}

In [ ]:
Q22: Write a Python program to remove all occurrences of a specific element from a list.

In [ ]:
a= [1,2,3,'vanila','chocolate',5,1,2]
Number_to_search = 2
number = 0
sizeoflist = len(a)
print(sizeoflist)

while number < sizeoflist:    
    if a[number]== Number_to_search:
        del a[number]
        print("current number is :", number)
        number = number+1
    else:
        continue

In [ ]:
Q23: Write a Python program to sort a list of integers in ascending order.

In [93]:
numbers = [1,2,5,7,9,3,5,8,2]
print(numbers.sort())
print(numbers)

None
[1, 2, 2, 3, 5, 5, 7, 8, 9]

In [94]:
Q24: Write a Python program to find the minimum and maximum values in a list.

SyntaxError: invalid syntax (1665296477.py, line 1)

In [95]:
numbers = [1,2,5,6,8,0,12,4]
print(min(numbers))

0

In [87]:
numbers = [1,2,5,6,8,0,12,4]
print(max(numbers))

12

In [ ]:
Q25: Write a Python program to check if a given list is empty.

In [67]:
smaple_list = ['Hello', 'world', 2]
if len(sample_list) == 0:
    print("list is empty")
else:
    print("list is not empty")

list is not empty

In [ ]:
Q26: Write a Python program to check If a given Tuple Is empty.

In [71]:
sample_tuple = ('Hello', 'world', 2)
if len(sample_tuple) == 0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

In [ ]:
Q27: Write a Python program to check if a given set is empty.

In [72]:
sample_set = {'Hello', 'world', 2}
if len(sample_set) == 0:
    print("set is empty")
else:
    print("set is not empty")

set is not empty

In [ ]:
Q28: Write a Python program to check if a given dictionary is empty.

In [73]:
sample_dict = {'name': 'poonam', 'weekly intake':3, 'favourite ice cream': 'chocolate'}
if len(sample_dict) == 0:
    print("dict is empty")
else:
    print("dict is not empty")

dict is not empty

In [ ]:
Q29:Write a Python program to perform element-wise addition of two lists.

In [ ]:
Q30: Write a Python program to count the number of occurrences of a specific element in a list.