In [ ]:
# Print functions

In [ ]:
#by default inbuilt functions for print

In [1]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
# separate objects with space operator sep=' '
# first print function ends and start next print function in next line end='\n'
#'\n' = next line

In [ ]:
# changing default values of seperators

In [2]:
print ("rahul", 26)
print("rohit", 24)

rahul 26
rohit 24

In [4]:
print ("rahul", 26, end=' ')
print ("rohit", 24)

rahul 26 rohit 24

In [ ]:
#in the above print function, we have used end with space after first print function so next line function will not be applied

In [ ]:
#another example

In [6]:
print ("rahul", 26, end=' -> ')
print ("rohit", 24)

rahul 26 -> rohit 24

In [ ]:
#in the above print function, we have used end with (->) after first print function so next line function will not be applied

In [ ]:
# another example

In [7]:
print ("rahul", 26, sep="\n", end=' -> ')
print ("rohit", 24)

rahul
26 -> rohit 24

In [ ]:
#in the above print function, we have used seperate with new line (\n) after rahul and end with (->) after first printing rahul