# Variables In Python

In [1]:
x = 22

print(x)

22

In [3]:
type(x)

int

In [2]:
y = 'mint choco chip'

print(y)

mint choco chip

In [4]:
type(y)

str

In [6]:
y = 'chocolate'

print(y)

chocolate

In [7]:
y = 'chocolate'
y = 'mint choco chip'
print(y)

mint choco chip

In [8]:
y = 'mint choco chip'
y = 'chocolate'
print(y)

chocolate

In [9]:
x,y,z = 'Chocolate', 'Vanila', 'Rocky Road'

print(x)
print(y)
print(z)

Chocolate
Vanila
Rocky Road

In [10]:
x = y= z = 'Root Bear Float'

print(x)
print(y)
print(z)

Root Bear Float
Root Bear Float
Root Bear Float

In [12]:
Ice_Cream = ['Chocolate', 'Vanila', 'Rocky Road']

x,y,z = Ice_Cream

print(x)
print(y)
print(z)

Chocolate
Vanila
Rocky Road

In [ ]:
#Camel Case

#Test Variable Case

testVariableCase = 'Vanila Swirl'

In [ ]:
#Pascal Case

#Test Variable Case

TestVariableCase = 'Vanila Swirl'

In [ ]:
#Snake Case

#Test Variable Case

test_variable_case = 'Vanila Swirl'

In [ ]:
testvar = 'Vanila Swirl'
test_var = 'Vanila Swirl' (this looks very clear and understandable)
_test_var = 'Vanila Swirl'
testVar = 'Vanila Swirl'
TestVar = 'Vanila Swirl'
testVar2 = 'Vanila Swirl'

In [ ]:
# Can not use 

2testvar = 'Vanila Swirl'
test-var2 = 'Vanila Swirl'
test Var2 = 'Vanila Swirl'
test,Var2 = 'Vanila Swirl'

In [14]:
#Can add string with string 

x = 'Ice Cream is my favourite' + '.'

print(x)

Ice Cream is my favourite.

In [16]:
#Can not add string with a number or integer

x = 'Ice Cream is my favourite' + 2

print(x)

TypeError: can only concatenate str (not "int") to str

In [21]:
# But can combine a string and an integer separating by a coma(,)
x = 'Ice Cream'
y = 2

print(x,y)

Ice Cream 2

In [17]:
#can add integer and integer 

y = 2 + 3
 
print(y)

5

In [19]:
#Can add multiple vartiables in a print statement (for string)

x = 'Ice Cream'
y = ' is'
z = ' my favourite'

print(x+y+z)

Ice Cream is my favourite

In [20]:
#Can add multiple vartiables in a print statement (for integer)
x = 1
y = 2
z = 3

print(x+y+z)

6

In [1]:
a = 2
a = 3
print(a)

3

In [4]:
m = " 
this is a multiline string ? 
"
print (type(m))

SyntaxError: unterminated string literal (detected at line 1) (2246271841.py, line 1)